body {
	background-color: #ccffff;
}

h1 {
	text-align: center;
	color: #808080; 
	font-family: arial;
}

#parteSuperior {
	background-color: #ccffff;
	border: 0px solid;
	border-radius: 10px;
}

#caixa1_entrada {
	margin-right: 675px;
    background: white;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#logo {
	width: 200px;
	height: 100px;
	border-bottom-style: solid;
	border-width: 0px;
}

#hora {
	font-family: arial;
	display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 84px;
    font-size:50px;
    color:#1889E1;
    width: 200px;
    text-align: center;
}



#caixa2_informativos {
	background: white;
	position: absolute;
	top: 8px;
	right: 10px;
	left: 50%;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    border-radius: 10px;
    overflow: hidden;
   
}

#imagem_informativa {
	width: 600px;
	height: 320px;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}



#parteInferior {
	background-color: DodgerBlue;
	border: 0px solid;
	border-radius: 10px;
}

#proximosChamados {
	text-align: center;
	position: relative;
	width: 500px;
	height: 300px;
	font-family: arial;
}

#chamadaAtual {
	text-align: center;
	position: relative;
	width: 500px;
	height: 800px;
	font-family: arial;
}

#ultimosChamados {
	text-align: center;
	position: relative;
	width: 500px;
	height: 300px;
	font-family: arial;
}
